USE [WDGZ_LvYou]
GO
/****** Object:  Table [dbo].[GongKaiXinXi]    Script Date: 2018/10/22 19:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GongKaiXinXi](
	[BianHao] [int] IDENTITY(1,1) NOT NULL,
	[BiaoTi] [nvarchar](30) NOT NULL,
	[NeiRong] [nvarchar](max) NULL,
	[TuPian] [image] NULL,
	[LeiXing] [nvarchar](20) NULL,
	[FaBuShiJian] [datetime] NULL,
	[FaBuDanWei] [nvarchar](20) NULL,
	[ZuoZe] [nvarchar](20) NULL,
	[LiuLanCiShu] [int] NULL,
	[BeiZhu] [nvarchar](200) NULL,
 CONSTRAINT [PK_GongKaiXinXi] PRIMARY KEY CLUSTERED 
(
	[BianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiuYanBan]    Script Date: 2018/10/22 19:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiuYanBan](
	[BianHao] [int] IDENTITY(1,1) NOT NULL,
	[BiaoTi] [nchar](20) NULL,
	[NeiRong] [nvarchar](1000) NULL,
	[LiuYanRen] [nvarchar](12) NULL,
	[EMail] [nvarchar](20) NULL,
	[DianHua] [nvarchar](12) NULL,
	[BiaoQing] [varbinary](max) NULL,
	[LiuYanShiJian] [datetime] NULL,
	[HuiFuZhuangTai] [nvarchar](10) NULL,
	[HuiFuNeiRong] [nvarchar](200) NULL,
	[HuiFuShiJian] [datetime] NULL,
	[HuiFuRen] [nvarchar](12) NULL,
	[BeiZhu] [nvarchar](200) NULL,
 CONSTRAINT [PK_LiuYanBan] PRIMARY KEY CLUSTERED 
(
	[BianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LvYouGuiHuaXinXi]    Script Date: 2018/10/22 19:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LvYouGuiHuaXinXi](
	[GHXMBianHao] [nchar](12) NOT NULL,
	[GHXMMingCheng] [nvarchar](50) NOT NULL,
	[GHXMJieShao] [nvarchar](200) NULL,
	[GuiHuaFanWei] [nvarchar](50) NULL,
	[GuiHuaMianJi] [nvarchar](20) NULL,
	[GuiHuaNianXian] [nvarchar](50) NULL,
	[GuiHuaMuBiao] [nvarchar](50) NULL,
	[GuiHuaRenWu] [nvarchar](50) NULL,
	[GuiHuaShiJian] [datetime] NULL,
	[GuiHuaDanWei] [nvarchar](20) NULL,
	[FuZeRen] [nvarchar](20) NULL,
	[BeiZhu] [nvarchar](200) NULL,
	[GuiHuaTu] [nvarchar](1000) NULL,
	[JingDu] [nvarchar](10) NULL,
	[WeiDu] [nvarchar](10) NULL,
 CONSTRAINT [PK_LvYouGuiHuaXinXi] PRIMARY KEY CLUSTERED 
(
	[GHXMBianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LvYouJingDianXinXi]    Script Date: 2018/10/22 19:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LvYouJingDianXinXi](
	[JDBianHao] [int] IDENTITY(1,1) NOT NULL,
	[JDMingCheng] [nvarchar](50) NOT NULL,
	[JDJieShao] [nvarchar](max) NULL,
	[JDWeiZhi] [nvarchar](50) NULL,
	[JingDu] [nvarchar](10) NULL,
	[WeiDu] [nvarchar](10) NULL,
	[LiuLanCiShu] [int] NULL,
	[FBShiJian] [datetime] NULL,
	[BeiZhu] [nvarchar](200) NULL,
	[TuPian] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LvYouJingDianXinXi] PRIMARY KEY CLUSTERED 
(
	[JDBianHao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GongKaiXinXi] ON 

INSERT [dbo].[GongKaiXinXi] ([BianHao], [BiaoTi], [NeiRong], [TuPian], [LeiXing], [FaBuShiJian], [FaBuDanWei], [ZuoZe], [LiuLanCiShu], [BeiZhu]) VALUES (199, N'SDGDSFGD', N'', NULL, N'通报', CAST(N'2018-04-17T22:13:12.017' AS DateTime), N'', N'', 0, N'')
INSERT [dbo].[GongKaiXinXi] ([BianHao], [BiaoTi], [NeiRong], [TuPian], [LeiXing], [FaBuShiJian], [FaBuDanWei], [ZuoZe], [LiuLanCiShu], [BeiZhu]) VALUES (204, N'11xxxx', N'', NULL, N'新闻', CAST(N'2018-04-28T09:08:44.700' AS DateTime), N'', N'', 0, N'')
SET IDENTITY_INSERT [dbo].[GongKaiXinXi] OFF
SET IDENTITY_INSERT [dbo].[LiuYanBan] ON 

INSERT [dbo].[LiuYanBan] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [BiaoQing], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (1054, N'59                  ', N'@康熙探花花园@    222', NULL, NULL, NULL, NULL, CAST(N'2018-09-10T20:25:55.513' AS DateTime), N'未回复', N'', NULL, NULL, NULL)
INSERT [dbo].[LiuYanBan] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [BiaoQing], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (2034, N'3021                ', N'@小康村@    这个村不错哦！', NULL, NULL, NULL, NULL, CAST(N'2018-09-21T22:43:19.803' AS DateTime), N'未回复', N'', NULL, NULL, NULL)
INSERT [dbo].[LiuYanBan] ([BianHao], [BiaoTi], [NeiRong], [LiuYanRen], [EMail], [DianHua], [BiaoQing], [LiuYanShiJian], [HuiFuZhuangTai], [HuiFuNeiRong], [HuiFuShiJian], [HuiFuRen], [BeiZhu]) VALUES (2035, N'001                 ', N'@王打卦村@   这个规划不错哦！！！', N'', N'', N'', NULL, CAST(N'2018-09-21T22:45:31.000' AS DateTime), N'已回复', N'确实不错', CAST(N'2018-09-22T08:43:27.137' AS DateTime), N'', N'')
SET IDENTITY_INSERT [dbo].[LiuYanBan] OFF
INSERT [dbo].[LvYouGuiHuaXinXi] ([GHXMBianHao], [GHXMMingCheng], [GHXMJieShao], [GuiHuaFanWei], [GuiHuaMianJi], [GuiHuaNianXian], [GuiHuaMuBiao], [GuiHuaRenWu], [GuiHuaShiJian], [GuiHuaDanWei], [FuZeRen], [BeiZhu], [GuiHuaTu], [JingDu], [WeiDu]) VALUES (N'001         ', N'王打卦村', N'111', N'', N' ', N'2018-09-21|2018-09-22', N'111', N'111', CAST(N'2018-09-21T00:00:00.000' AS DateTime), N'sdau', N'张三', N'2018/9/21 22:45:12', N'', N'116.325960', N'37.168815')
INSERT [dbo].[LvYouGuiHuaXinXi] ([GHXMBianHao], [GHXMMingCheng], [GHXMJieShao], [GuiHuaFanWei], [GuiHuaMianJi], [GuiHuaNianXian], [GuiHuaMuBiao], [GuiHuaRenWu], [GuiHuaShiJian], [GuiHuaDanWei], [FuZeRen], [BeiZhu], [GuiHuaTu], [JingDu], [WeiDu]) VALUES (N'002         ', N'平原站', N'11', N'', N' ', N'2018-09-21|2018-09-29', N'11', N'11', CAST(N'2018-09-13T00:00:00.000' AS DateTime), N'sdau', N' 李四', N'2018/9/21 22:46:12', N'', N'116.429471', N'37.163494')
SET IDENTITY_INSERT [dbo].[LvYouJingDianXinXi] ON 

INSERT [dbo].[LvYouJingDianXinXi] ([JDBianHao], [JDMingCheng], [JDJieShao], [JDWeiZhi], [JingDu], [WeiDu], [LiuLanCiShu], [FBShiJian], [BeiZhu], [TuPian]) VALUES (3021, N'小康村', N'', N'', N'116.289052', N'37.162979', 0, CAST(N'2018-09-21T22:41:16.680' AS DateTime), N'', N'')
INSERT [dbo].[LvYouJingDianXinXi] ([JDBianHao], [JDMingCheng], [JDJieShao], [JDWeiZhi], [JingDu], [WeiDu], [LiuLanCiShu], [FBShiJian], [BeiZhu], [TuPian]) VALUES (3022, N'景点1', N'', N'1', N'116.328535', N'37.144268', 0, CAST(N'2018-09-23T09:23:10.560' AS DateTime), N'', N'')
SET IDENTITY_INSERT [dbo].[LvYouJingDianXinXi] OFF
