table td {
    color: #636363;
}

.top1 ul {
    text-align: center;
}

#content {
    height: auto;
    width: 740px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

#c1 a {
    text-decoration: none;
    color: #000000;
}

#c1 {
    float: right;
    margin: 15px;
}

#margin {
    height: 10px;
    width: 100%;
}
#Infotitle {
    height: 40px;
    width: 100%;
    background-color: white;
    /*font-weight: bold;*/
    text-align: center;
    font-size: 25px;
    color: #1e1395;
    font-family: 'Microsoft YaHei';
}
#titlesplit {
    border: 1px solid #2388b9;
    width: 720px;
    margin: auto;
    margin:5px;
}
#title {
    height: 40px;
    width: 100%;
    background-color: white;
    font-weight:bold;
    text-align: center;
    font-size: 32px;
    color: #636363;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#author {
    background-color: white;
    height: 25px;
    width: 740px;
    margin-top: 5px;
    text-align: center;
    font-size: small;
    color: #636363;
}

#neirong {
    width: 740px;
    margin: auto;
    height: 470px;
    overflow: scroll;
}

#mainneirong {
    background-color: white;
    height: auto;
    width: 100%;
    font-size: 18px;
}

.bottom {
    height: 30px;
    width: 600px;
    text-align: center;
    background-color: #ffffff;
    background-color: #03a4fd;
    margin: auto;
}
