*{
	padding:0;margin:0px;list-style:none;list-style-type:none;font-size: 12px;
}

.moreInfo
{
    display:none;
    width: 71px;
    height: 52px;
    border: 1px solid #c7e0f8;
    position: absolute;
    top: 23px;
    right: 18px;
    font-size: 12px;
    background: #FFF;
    z-index: 9999;
}

.infoDetail
{      
      border-bottom: 1px solid #eaf2fa;
      height: 20px;
      text-align: center;
      padding-top: 5px;  
}

.infoDetail a
{
    color:#909090; text-decoration: none;
}

.infoDetail a:hover
{
    text-decoration: underline;
}
 
 .infoDetail a:link , .infoDetail a:visit 
{
   
}

.infoDetail:hover {
  background-color: #eaf2fa;
}

#line
{
    margin-right: 0px;
    width:0px;
}

#userImg
{
    float:left;
    width:20px;
    height:30px;
    background: url(../images/cd.png) no-repeat 0px -40px;   
}

.splitImg
{
    float:left;
    width:17px;
    height:30px;
    background: url(../images/cd.png) no-repeat -32px -40px;   
    margin-top: 2px;
}

#moreImg
{
    display:none;
    float: left;
    width: 13px;
    height: 23px;
    background: url(../images/cd.png) no-repeat -20px -40px;
    margin-top: 7px;
    margin-right: -9px;
}

#login
{
    margin-right:5px;
    margin-left:5px;

}

#reg
{
    margin-right:10px;
    margin-left:10px;
}

.Top_User
{    
    position:absolute; 
    width: 325px;
    right:-20px;  
    height:26px;
    
}

.Top_User a
{ 
    color: #fff;
    font-size:12px;
    padding-top: 5px;
    float: left;
}

#portalManager:hover
{
    text-decoration: none;
 }


.Top_User a:link, .Top_User a:visited {
  text-decoration: none;
  color: #fff;
}

.Top_User a:hover, .Top_User a:hover {
  text-decoration: underline;
  color: #fff;
}

.TopSpan
{
     top:40px;
     z-index: 1;
     position: absolute; 
     right:0px; 
     height:59px;
}

.TopSpan li
{ 
    float:right; 
    margin-right:15px; 
    border:1px solid transparent; 
    height:59px; 
    cursor:pointer;
    width:60px;
    text-align: center;
}

.TopSpan li:hover
{ 
    background-color:#5bb4ff; 
    border:1px solid #8fccff; 
    border-bottom:0px;
    width: 60px;
    text-align: center;
}

.TopSpan li.active
{ 
    background-color:#5bb4ff; 
    border:1px solid #8fccff; 
    border-bottom:0px;
    width: 60px;
    text-align: center;
}
.TopSpan li div{background-image: url(../images/cd.png); width:40px; height:40px;background-repeat:no-repeat; margin:0 auto;}
#d_map{ background-position:-40px 0;}
#d_zy{ background-position:-80px 0;}
#d_yy{ background-position:-120px 0;}
#d_sx{ background-position:-160px 0;}
#d_yj{ background-position:-360px 0;}
#d_kf{ background-position:-320px 0;}
#d_ht{ background-position:-280px 0;}
#d_zt{ background-position:-400px 0;}
.TopSpan a{ color:#FFFFFF; font-weight:bold; font-size:12px; text-decoration:none;margin:0 auto;}
.DIVtop div{ height:100px}
#topDiv{height:100px}
#D_left{background-image: url(../images/top_left.png);background-repeat:no-repeat; width:760px; position: absolute;left:0;}
#D_Top{background-color: #45aaff;position: absolute; width:100%; height:100px;}
#D_right{background-image: url(../images/top_right.png);background-repeat:no-repeat; position: absolute;right: 0; width:460px}
/*../images/logo.png*/
/*jsAPI/images/logo.png*/
#D_logo {
    cursor: pointer;
    background-image: url(jsAPI/images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 680px;
    height: 85px;
    margin: 10px 0 0 22px;
}
    

/*转到手机端*/
/* .btnToolbar-mobile{
	background:url(../images/common/mobile.png) no-repeat ;
	width:33px;height:20px;
	position:absolute;top:-1px;left:4px;
} */
#btnMobile{
	height:26px;
	width:36px;
}

.transparent_toolbar{position:absolute;top:100;right:0;width:100%;height:32px;z-index:1000;background:url(../images/toolbar_bg.png) repeat-x 0 0}
.btnToolbar{float:right;margin-left:12px;text-align:right;list-style:none;line-height:24px;height:26px;width:54px;cursor:pointer;color:#046abe}
.btnToolbar:hover{background-color:#00c8ff}
.btnToolbar-cont{padding-left:21px;position:relative;line-height:24px;height:24px;margin:0 3px}
.btnToolbar-cont1{padding-left:21px;position:relative;float:left;line-height:26px;height:26px}
.btnToolbar-img{background:url(../images/toolbar.png) no-repeat 0 0;width:16px;height:20px;position:absolute;top:-1px;left:-2px}


#vec_img{position:absolute;top:3px;left:10px;width:127px;height:22px;line-height:22px;text-align:center;background-color:#fff;color:#4c4c4c;cursor:pointer}
#vec_{position:absolute;top:0;left:0;width:63px;height:22px;line-height:22px;border:#c9c9c9 solid 1px}
#vec_.active{position:absolute;top:0;left:0;width:63px;height:22px;line-height:22px;background-color:#3b9cfe;border:#3b9cfe solid 1px;color:#fff}
#img_{position:absolute;top:0;left:63px;width:63px;height:22px;line-height:22px;border:#c9c9c9 solid 1px;border-left:none}
#img_.active{position:absolute;top:0;left:63px;width:63px;height:22px;line-height:22px;background-color:#3b9cfe;border:#3b9cfe solid 1px;color:#fff}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

    table td, table th {
        border: 1px solid #cad9ea;
        color: #666;
        height: 30px;
    }

    table thead th {
        background-color: #CCE8EB;
        width: 100px;
    }

    table tr:nth-child(odd) {
        background: #fff;
    }

    table tr:nth-child(even) {
        background: #F5FAFA;
    }

#bottomlist{position:absolute;bottom:0px;left:0px;width:800px;height:330px;background-color:#ffffff;opacity: 0.9; border:1px dotted; border-color:#48ACFC;   border-radius:0px 15px 0px 0px; display:none;  text-align: center;}
#closeBottomList{position:absolute;top:0px;left:0px;width:100%;height:32px;background-color:#48ACFC; text-align:right; border-radius:0px 15px 0px 0px;}
#bottomlistClosebtn{cursor: pointer;}
#bottomtable{position:absolute; top:32px;left:0px;width:100%;height:100%;}



#leftlist{position:absolute;top:140px;right:0px;width:800px;height:400px;background-color:#ffffff;opacity: 0.9; border:1px dotted; border-color:#48ACFC;   border-radius:15px 0px 0px 15px; display:none;  text-align: center;}
#closeleftList{position:absolute;top:0px;left:0px;width:100%;height:32px;background-color:#48ACFC; text-align:left; border-radius:15px 0px 0px 0px;}
#leftlistClosebtn{cursor: pointer;}
#lefttable{position:absolute; top:32px;left:0px;width:100%;height:100%;}


#centerlist {
    position: absolute;
    bottom: 20px;
    left:355px;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px dotted;
    border-color: #48ACFC;
    border-radius: 0px 15px 0px 0px;
    display: none;
    text-align: center;
}

#closecenterlist {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    background-color: #48ACFC;
    text-align: right;
    border-radius: 0px 15px 0px 0px;
}

#centerlistClosebtn {
    cursor: pointer;
}

#centertable {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    height: 100%;
}


#centerlist2 {
    position: absolute;
    bottom: 20px;
    right: 355px;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px dotted;
    border-color: #48ACFC;
    border-radius: 0px 15px 0px 0px;
    display: none;
    text-align: center;
}
#closecenterlist2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    background-color: #48ACFC;
    text-align: right;
    border-radius: 0px 15px 0px 0px;
}

#centerlistClosebtn2 {
    cursor: pointer;
}

#centertable {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#centerlist3 {
    position: absolute;
    bottom: 20px;
    right: 355px;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px dotted;
    border-color: #48ACFC;
    border-radius: 0px 15px 0px 0px;
    width: 800px;
    height: 600px;
    display: none;
    text-align: center;
}

#closecenterlist3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    background-color: #48ACFC;
    text-align: right;
    border-radius: 0px 15px 0px 0px;
}

#centerlistClosebtn3 {
    cursor: pointer;
}
#centerlist4 {
    position: absolute;
    bottom: 20px;
    left: 355px;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px dotted;
    border-color: #48ACFC;
    border-radius: 0px 15px 0px 0px;
    width: 800px;
    height: 600px;
    display: none;
    text-align: center;
}

#closecenterlist4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background-color: #48ACFC;
    /*text-align: right;*/
    border-radius: 0px 15px 0px 0px;
}

#centerlistClosebtn4 {
    cursor: pointer;
}



#hudongjiaoliu {
    position: absolute;
    top: 140px;
    right: 0px;
    width: 500px;
    height: 600px;
    background-color: #ffffff;
    opacity: 0.9;
    border: 1px dotted;
    border-color: #48ACFC;
    border-radius: 15px 0px 0px 15px;
    display: none;
    /*text-align: center;*/

}

#closehudongjiaoliu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    background-color: #48ACFC;
    text-align: right;
    border-radius: 0px 15px 0px 0px;
}

#hudongjiaoliuClosebtn4 {
    cursor: pointer;
}

