/*注：给GridView添加CssClass="Grid"属性*/
.Grid {
    border-collapse: collapse;
    border: solid 1px #93c2f1;
    width: 98%;
    font-size: 10pt;
}

    .Grid td {
        border-collapse: collapse;
        border: solid 1px #93c2f1;
        font-size: 10pt;
    }

    .Grid th {
        border-collapse: collapse;
        border: solid 1px #93c2f1;
        font-size: 10pt;
        background-color: #e4f6ff;
    }
