.second {
    width: 1001px;
    height: 1000px;
    background-color: white;
    margin: auto;
}

#secondLeft {
    float: left;
    width: 190px;
    height: 700px;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-repeat: no-repeat;
}

    #secondLeft ul li {
        padding-left: 25px;
        height: 30px;
        font-size: 16px;
        font-weight: bold;
    }

.secondRight {
    float: right;
    margin:0;
    padding:0;
    width: 809px;
    overflow: hidden;
    height: 800px;
    border: groove 1px #2069ce;
    border-radius: 0 15px 15px 15px;
}
